@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primary: #846AFF;
    --color-font: #121214;
    --color-placeholder: #7C7C8A;
    --color-article: #EEEEFF;
    --color-header-background: #F8F8FF;
    --color-white: #FFFFFF;
    --color-input-background: #EAEAEA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

header{
    background-color: var(--color-header-background);
    display: flex;
    justify-content: center;
}

.headerContainer{
    display: flex;
    gap: 16.1%;
    max-width: 1216px;
    padding: 50px 0px;
}

.headerContent{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.headerDesk{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: var(--color-font);
}

.headerSpan{
    color: var(--color-primary);
}

.headerDescription{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--color-font);
    max-width: 550px;
}

.buttonSearchArchive{
    background-color: var(--color-primary);
    border-radius: 4px;
    padding: 14px 32px;
    border: none;
    max-width: 214px;
}

.searchArchive{
    color: var(--color-white);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.headerFigure{
    width: min(400px, 40.4%);
    height: auto;
}

main{
    background-color: var(--color-white);
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer{
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    gap: 113px;
}

.mainTitle{
    font-size: 32px;
    font-weight: 600;
    color: var(--color-font);
}

.archives{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 32px;
}

.archive{
    max-width: 384px;
}

.archive a{
    text-decoration: none;
    width: 100%;
}

article{
    width: 100%;
}

.articleHero{
    width: 100%;
    height: 100%;
}

.articleTitleContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px; 
    padding: min(32px, 8%) min(24px, 6%);
    border-radius: 8px;
}

.articleTitle{
    color: var(--color-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.articleContent{
    color: var(--color-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

footer{
    background-color: var(--color-article);
    display: flex;
    justify-content: center;
}

.footerContainer{
    max-width: 592px;
    padding: 80px 20px;
}

.footerContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.footerTitle{
    font-size: 32px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
}

form{
    width: 100%;
}

.formArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.post{
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--color-input-background);
    padding: 19px 24px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: var(--color-placeholder);
    margin-bottom: 24px;
}

.assunto{
    margin-bottom: 0px;
}

.buttonForm{
    padding: 14px 32px;
    border-radius: 4px;
    background-color: var(--color-primary);
    border: none;
}

.buttonFormText{
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 1263px) {
    .padding-items{
        padding-inline: 1px;
    }
}

@media (max-width: 1262px) {
    .padding-items{
        padding-inline: 2px;
    }
}

@media (max-width: 1261px) {
    .padding-items{
        padding-inline: 3px;
    }
}

@media (max-width: 1260px) {
    .padding-items{
        padding-inline: 4px;
    }
}

@media (max-width: 1259px) {
    .padding-items{
        padding-inline: 5px;
    }
}

@media (max-width: 1258px) {
    .padding-items{
        padding-inline: 6px;
    }
}

@media (max-width: 1257px) {
    .padding-items{
        padding-inline: 7px;
    }
}

@media (max-width: 1257px) {
    .padding-items{
        padding-inline: 8px;
    }
}

@media (max-width: 1256px) {
    .padding-items{
        padding-inline: 9px;
    }
}

@media (max-width: 1255px) {
    .padding-items{
        padding-inline: 10px;
    }
}

@media (max-width: 1254px) {
    .padding-items{
        padding-inline: 11px;
    }
}

@media (max-width: 1253px) {
    .padding-items{
        padding-inline: 12px;
    }
}

@media (max-width: 1252px) {
    .padding-items{
        padding-inline: 13px;
    }

    .articleTitle{
        font-size: 19px;
    }
}

@media (max-width: 1251px) {
    .padding-items{
        padding-inline: 14px;
    }
}

@media (max-width: 1250px) {
    .padding-items{
        padding-inline: 15px;
    }
}

@media (max-width: 1249px) {
    .padding-items{
        padding-inline: 16px;
    }
}

@media (max-width: 1248px) {
    .padding-items{
        padding-inline: 17px;
    }
}

@media (max-width: 1247px) {
    .padding-items{
        padding-inline: 18px;
    }
}

@media (max-width: 1246px) {
    .padding-items{
        padding-inline: 19px;
    }
}

@media (max-width: 1245px) {
    .padding-items{
        padding-inline: 20px;
    }
}

@media (max-width: 1244px) {
    .padding-items{
        padding-inline: 20px;
    }
}

@media (max-width: 1243px) {
    .padding-items{
        padding-inline: 21px;
    }
}

@media (max-width: 1242px) {
    .padding-items{
        padding-inline: 22px;
    }
}

@media (max-width: 1241px) {
    .padding-items{
        padding-inline: 23px;
    }
}

@media (max-width: 1240px) {
    .padding-items{
        padding-inline: 24px;
    }
}

@media (max-width: 1190px) {
    .articleTitle{
        font-size: 18px;
    }
}

@media (max-width: 1153px) {
    .headerDesk{
        font-size: 39px;
    }

    .headerDescription{
        font-size: 23px;
    }
}

@media (max-width: 1138px) {
    .headerDesk{
        font-size: 38px;
    }
}

@media (max-width: 1121px) {
    .headerDesk{
        font-size: 37px;
    }

    .headerDescription{
        font-size: 22px;
    }
}

@media (max-width: 1138px) {
    .headerDesk{
        font-size: 36px;
    }
}

@media (max-width: 1090px) {
    .headerDesk{
        font-size: 35px;
    }

    .headerDescription{
        font-size: 21px;
    }
}

@media (max-width: 1074px) {
    .headerDesk{
        font-size: 34px;
    }

    .headerDescription{
        font-size: 20px;
    }
}

@media (max-width: 1074px) {
    .headerDesk{
        font-size: 33px;
    }
}

@media (max-width: 1006px) {
    .headerDesk{
        font-size: 32px;
    }

    .articleContent{
        font-size: 16px;
    }
}

@media (max-width: 966px) {
    .headerDesk{
        font-size: 31px;
    }
}

@media (max-width: 942px) {
    .headerDesk{
        font-size: 30px;
    }

    .articleContent{
        font-size: 15px;
    }
}

@media (max-width: 891px) {
    .headerContainer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }

    .headerContent{
        max-width: 550px;
        text-align: center;
        align-items: center;
    }

    .archives{
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }

    .articleContent{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .articleContent{
        font-size: 14px;
    }
}